@mixin background-gradient() {
    background: $bg-orange-color;
    background: linear-gradient(90deg, rgba(230, 96, 44, 1) 0%, rgba(254, 130, 33, 1) 50%, rgba(227, 71, 36, 1) 100%);
}

@mixin background-border-radius($value) {
    border-radius: 0px 0px $value $value;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: $bg-white-color;

    font-family: Arial;

    width: 100%;
    height: 100vh;

    position: relative;
    min-height: 100vh;
}

main {
    padding-top: 7.5vh;
}

#div-mensagem-erro {
    background-color: $bg-orange-color;

    position: absolute;
    margin-right: 20px;
    margin-top: 70vh;
    padding: 15px;

    bottom: 8vh;
    left: 83vw;

    text-align: center;
    border-radius: 10px;

    opacity: 0;
    transition: opacity 600ms ease-in-out;

    p {
        margin-top: 2vh;

        font-size: 1.1rem;
        color: $font-color-white;
        font-style: italic;
    }
}

#nav-produtos-dropdown.fade, #div-mensagem-erro.fade {
    opacity: 1;
}
