#titulo {
    text-align: center;
    margin-bottom: 30px;

    @include background-gradient;
    @include background-border-radius(37px);

    padding: 5vh 0vw;

    h2 {
        font-size: 1.8rem;
        color: $font-color-white;
        font-weight: bold;

        padding: 7px;
    }

    p {
        font-size: 1.2rem;
        color: $font-color-white;

        padding: 7px;
    }
}

#carrossel {
    display: inline-block;
    text-align: center;

    img {
        width: 60%;
        max-height: 50vh;
        border-radius: 25px;
    }
}
