<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC com PHP</title>

    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <nav>
        <!-- Logo da pagina -->
        <div id="nav-logo">
            <a href="index.php">Proconsult</a>
        </div>

        <!-- Produtos -->
        <div id="nav-produtos-container">
            <a id="nav-produtos">Produtos</a>
            <div id="nav-produtos-dropdown" class="hidden">
                <ul>
                    <li><a href="?page=prod&action=list">Listar</a></li>
                    <li><a href="?page=register">Cadastrar</a></li>
                    <li><a href="?page=update">Atualizar</a></li>
                    <li><a href="?page=delete">Deletar</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        {{content}}
    </main>

    <footer id="footer">
        <p>Proconsult - 2021</p>
    </footer>

    <script src="./js/script.js"></script>
</body>

</html>