<div id="titulo">
    <h2>Seja bem-vindo a Proconsult</h2>
    <p>Somos fornecedores de soluções para a indústria da construção civil, elaboramos manuais do proprietário e
        síndico.</p>
</div>

<hr>
<br>

<div id="div-quemsomos">
    <div id="titulo-quemsomos">
        <h2>Quem somos</h2>

        <p>Nossa empresa é formada por 3 engenheiros, e uma equipe de 40 colaboradores, atuamos na área desde 1999 e
            desenvolvemos soluções específicas para empresas contrutoras e incorporadoras em todo o Brasil.</p>
    </div>

    <div id="imgs-quemsomos">
        <div class="foto-quemsomos">
            <img src="./img/foto1.jpg">
            <h4>Rodrigo Nicolellis</h4>
            <p>Engenheiro com foco na tecnologia e desenvolvimento de softwares e aplicativos para integração das
                informações na indústria da contrução civil.</p>
        </div>
        <div class="foto-quemsomos" id="foto-meio-quemsomos">
            <img src="./img/foto2.jpg">
            <h4>Luiz F. Forte</h4>
            <p>Engenheiro com profundos conhecimentos em projetos, sistemas, especificações de materiais e manutenções
                voltados à engenharia civil.</p>
        </div>
        <div class="foto-quemsomos">
            <img src="./img/foto3.gif">
            <h4>Fabio G. Canaparo</h4>
            <p>Engenheiro e perito, com forte atuação no entendimento e aplicação das normas e leis relacionadas a
                construção civil.</p>
        </div>
    </div>
</div>