<div class="container-prods">
    <div class="titulo-prods">
        <h2>Cadastro de produtos</h2>
    </div>

    <div>
        <form method="post" action="?page=prod&action=register">
            <fieldset class="field-prods">
                <label>Nome:</label> <br>
                <input type="text" name="txtName">
            </fieldset>

            <fieldset class="field-prods">
                <label>Preço:</label> <br>
                <input type="number" name="nmbPrice">
            </fieldset>

            <fieldset class="field-prods">
                <label>Imagem:</label> <br>
                <input type="file" name="fileImage" id="img-cadastrar">
            </fieldset>

            <button type="submit" class="btn-prods">Cadastrar</button>
        </form>
    </div>
</div>